.story {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: large;
}
.speech-zone {
    position: absolute;
    bottom: 5%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    /*padding: 5%;*/
    background-color: rgb(200,200,200);
    background-color: rgba(200,200,200,0.6);
    border-radius: 4em / 6em;
    padding: 3em;
    border: 0;
}
.speaker {
    background-color: green;
    margin-left: 2em;
    padding: .2em 1em;
    color: whitesmoke;
    border-radius: 1em;
    font-weight: bold;
}
.speech {
    color: black;
}
.choices {
    color: black;
    background-color: rgb(200,200,200);
    background-color: rgba(200,200,200,.6);
    position: absolute;
    right: 0;
    display: inline-block;
    list-style: none;
    padding: .5em 1em;
    top: 50%;
    border-radius: 2em 0 0 2em;
    transform: translateY(-50%);
    margin: 0;
}
.choices > * {
    margin: 10px;
    padding: 10px;
    border-radius: 1em;
    background-color: rgb(100,100,100);
    background-color: rgba(100,100,100,.6);
    cursor: pointer;
    transition: transform .5s ease;
    transform: scale(1);
}
.choices > :hover {
    transform: scale(1.1);
}
.images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image, .old-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: opacity .8s ease;
}
.fullscreen-button {
    position: absolute;
	height: 5%;
	right: 2%;
	top: 2%;
	filter: invert(100%) drop-shadow(1px 2px 5px rgba(0,0,0,0.2));
}
.vars {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: rgb(200,200,200);
    background-color: rgba(200,200,200,0.6);
    padding: 1em;
    border-radius: 1em;
}
.vars > div {
    display: inline-block;
    text-align: center;
    margin: 0.2em;
}
.vars > span {
    display: block;
}
.vars > div > div {
    height: 6em;
    background: whitesmoke;
    border-radius: 1em;
    width: 1em;
    overflow: hidden;
    position: relative;
    margin : auto;
}
.vars > div > div > div {
    width: 1em;
    position: absolute;
    bottom: 0;
    transition: height 2s ease;
}
@media (orientation: portrait) {
    .choices {
        background-color: unset;
        padding: 0;
    }
    .choices > * {
        margin: 10px 5px;
        border-radius: 1em 0 0 1em;
        margin-right: 0;
        background-color: rgb(200,200,200);
        background-color: rgba(200,200,200,.6);
        animation: clickme 4s 1s infinite ease;
    }
    .choices > :nth-child(4n) {
        animation: clickme 4s 0s infinite ease;
    }
    .choices > :nth-child(4n+1) {
        animation: clickme 4s 1s infinite ease;
    }
    .choices > :nth-child(4n+2) {
        animation: clickme 4s 2s infinite ease;
    }
    .choices > :nth-child(4n+3) {
        animation: clickme 4s 3s infinite ease;
    }
}
@keyframes clickme {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.05);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}